<html>
<head>
<title>CBSE - Senior School Certificate Examination (Class XII) Results 2025  </title>
<link rel="icon" href="https://examinationservices.nic.in/favicon.ico" type="image/png">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="refresh">
<meta http-equiv="expires" content="-1">
<script>
<!--
function newwin()
{
if (self != top) 
    top.location.href ="classTwelfth_c_2025.htm";
}

function visitSite(url){
mywin=window.open("","goidisplaywin","width=600,height=350,screenX=100,screenY=0,scrollbars=yes,menubar=yes,resizable=yes,status=yes,toolbar=yes,directories=no,location=yes");
mywin.location.href=url;
mywin.focus();
}
//-->
</script>
<script language="javascript" src="https://examinationservices.nic.in/cbseresults/class_xii_jh_2025/cal2.js">  
</script>
<script language="javascript">
    addCalendar("Calendar1", "DateControl", "dob", "FrontPage_Form1");
    setWidth(90, 1, 15, 1);
    setFormat("dd/mm/yyyy");
</script>
<SCRIPT language=JavaScript><!--
function checkNumeric(chkval)
{
  var checkOK = "0123456789-";
  var checkStr = chkval;
   
  var decPoints = 0;
  var allNum = "";
  for (i = 0;  i < checkStr.length;  i++)
  {
    ch = checkStr.charAt(i);
    for (j = 0;  j < checkOK.length;  j++)
      if (ch == checkOK.charAt(j))
        break;
    if (j == checkOK.length)
    {
       return false;
      break;
    }
    allNum += ch;
  }
  return true; 
}

function FrontPage_Form1_Validator(theForm)
{

  if (theForm.regno.value == "")
  {
    alert("Please enter a value for the \"regno\" field.");
    theForm.regno.focus();
    return (false);
  }

  if (theForm.regno.value.length < 1)
  {
    alert("Please enter at least 1 characters in the \"regno\" field.");
    theForm.regno.focus();
    return (false);
  }

  if (!checkNumeric(theForm.regno.value))
  {
    alert("Please enter only digit characters in the \"regno\" field.");
    theForm.regno.focus();
    return (false);
  }
    
  
  
  
  if (theForm.sch.value == "")
  {
    alert("Please enter a value for the school number field.");
    theForm.sch.focus();
    return (false);
  }
  
  if (theForm.sch.value.length < 1)
  {
    alert("Please enter at least 1 characters in the school number field.");
    theForm.sch.focus();
    return (false);
  }
  
   if (!checkNumeric(theForm.sch.value))
  {
    alert("Please enter only digit characters in the \"school code \" field.");
    theForm.sch.focus();
    return (false);
  }
  
  /*if (theForm.cno.value == "")
  {
    alert("Please enter a value for the \"center no\" field.");
    theForm.cno.focus();
    return (false);
  }

  if (theForm.cno.value.length < 1)
  {
    alert("Please enter at least 1 characters in the \"center no\" field.");
    theForm.cno.focus();
    return (false);
  }

  if (!checkNumeric(theForm.cno.value))
  {
    alert("Please enter only digit characters in the \"center no\" field.");
    theForm.cno.focus();
    return (false);
  }
  if (theForm.admid.value == "")
  {
    alert("Please enter a value for the \"Admit Card Id\" field.");
    theForm.cno.focus();
    return (false);
  }
  */
  
temp = new String(theForm.regno.value);
first_two_char = temp.substr(0,2);


   return (true);
}


</SCRIPT>
</head>
<body bgcolor="#ffffff" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#3333cc" vlink="#3333cc" alink="#3333cc" onLoad="newwin()">

<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#00ced1">
  <tr align="left" valign="top"> 
    <td width="5%"><IMG height=69 src="https://examinationservices.nic.in/cbseresults/images/cbseJeeMains.png" width=67></td>
    <td width="95%" valign="center"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr align="right" valign="bottom"> 
          <td><font size="2" face="Arial, Helvetica, sans-serif" color="#ffffff"><b><font size="3">http://cbseresults.nic.in&nbsp;&nbsp;&nbsp;</font></b></font></td>
        </tr>
        <tr>
          <td><IMG height=24 src="https://examinationservices.nic.in/cbseresults/images/cbsehindi-new.png" width=259></td>
        </tr>
        <tr> 
          <td><IMG height=26 src="https://examinationservices.nic.in/cbseresults/images/cbseenglish-new.png" width=408></td>
        </tr>
      </table>
    </td>
  </tr>
</table>      
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="30">
  <tr> 
    <td><font size="3" face="Arial, Helvetica, sans-serif"><font color="#ffffff"><b><font size="4"> 
      </font></b></font> </font></td>
    <td> 
      <div align="right" bgcolor="#ffffff"><font size="3" face="Arial, Helvetica, sans-serif"><font color="#373abe"><b><font size="4"> 
        Examination Results 2025&nbsp;&nbsp;&nbsp;</font></b></font> </font></div>
    </td>
  </tr>
</table> 


<table border="0" width="100%" cellspacing="0" cellpadding="0">

  <tr>

    <td width="100%">    

    <p align=right><STRONG>&nbsp;
Brought to you by National Informatics Centre &nbsp;&nbsp;<br><br></STRONG></p>

<br>

<font size="3" face="Arial, Helvetica, sans-serif" color="#3333CC">
<!--
<CENTER><B>Examination Results&nbsp;</B></CENTER></FONT><b><font size="2" face="Arial, Helvetica, sans-serif" color="#3333CC"><br>
    </font></b>
	-->
<br>


<CENTER>
  <font size="3" face="Arial, Helvetica, sans-serif" color="#3333CC"><strong>Senior School Certificate Examination (Class XII)  Results 2025</strong></font>
</CENTER>

<br>
<center>
        <form method="post" name=FrontPage_Form1 formaction="/">

      <div align="center"><center>
        <table width=36% align="center">
          <tr>
            <td ><FONT color=black face=Arial size=2><STRONG>Enter your Roll 
              Number</td>
            <td><input name="regno" size="8" maxlength="8" style="width: 114px" AUTOCOMPLETE = "off" ></td>
          </tr>              
      
      <tr><td><FONT color=black face=Arial size=2><STRONG>Enter School No.</td><td>

      <input name="sch" size="8" maxlength="5" style="width: 114px" AUTOCOMPLETE = "off">
      </tr>
      <!--<tr><td><FONT color=black face=Arial size=2><STRONG>Enter Centre No.</td><td>

      <input name="cno" size="8" maxlength="4" style="width: 114px" AUTOCOMPLETE = "off">
      </tr>-->

  <tr><td><FONT color=black face=Arial size=2><STRONG>Enter Admit Card ID.</td><td>

      <input name="admid" size="8" maxlength="10" style="width: 114px" AUTOCOMPLETE = "off">
      </tr>
         <tr> 
        <td colspan=2 align=left><font color="#FF0000" size=2><b>(as given on your admit card)</b></font></td></tr>    
          <tr align=center>
            <td colspan=2 width=50% align=center><input type="submit" name="B2" size="15" value="Submit"  class="btn">
              &nbsp;
              <input type="reset" name="B2" size="15" value="Reset"  class="btn"></td>
          </tr>
       
          <tr align="center"><td>
          
          </td></tr>
        </table>
        <p><font color="#faebd7">-</font></p>
</center></div><div align="center"><center><P><BR></P>

      </center></div>

    <input type="hidden" name="as_sfid" value="AAAAAAW2KHzrqU6ovtFyNJfql3blC6L0ci1MGbdufq2S-nfJrzWEvZdZPO_fqcL-1UP1EqzQgQhMlng5yzmD1s0e7Ph5x4oHzIBBwp27HTNVXzafIOKgpUdMzXD2zeO4ywfgDqw=" /><input type="hidden" name="as_fid" value="f914448d28d08fb83ead1c1ced699372b7de6e51" /><input type="hidden" name="as_sfid" value="AAAAAAWOyNUww0f-KakO_D4QDHBUxRfRXmfJXY1fn-E3GwOJz5qWbdvtHCjR1-mWMG4nr_ETJs3rHSuMrJbTuZbIZAvYvzlJsMVvNytSnM_HG8m2mHzaZMgOw26b-KF-KHymO-0=" /><input type="hidden" name="as_fid" value="218520f49f375ef87e6d64848742f8d82195e9f7" /></form></center>
  
    </td>

  </tr> 

    </table>

  <!--<hr width=100% align=center>
  <table width="100%" border="0" cellspacing="0" cellpadding="10" align=center>
 
  <TR>
          <TD>
            <P align=center><FONT size=2><FONT color=#000000 
            face="Arial, Helvetica, sans-serif">
			<B>Get Your Certificates in DigiLocker!</B> 
			</td>
			</tr>
			<tr><td>
			Your digital mark sheet, passing and migration certificates are also be available in DigiLocker. Please download DigiLocker mobile app from Google Play 
                                <a href="https://play.google.com/store/apps/details?id=com.digilocker.android" target="_blank">https://play.google.com/store/apps/details?id=com.digilocker.android</a>
                                or Apple App Store <a href="https://apps.apple.com/in/app/digilocker/id1320618078" target="_blank">https://apps.apple.com/in/app/digilocker/id1320618078</a>
                                 to access your certificates. To login, use CBSE registered mobile number, OTP and enter the last 6 digits of your roll number as security pin. 
	</P></TD></TR>
  </table> -->

  <hr width=100% align=center> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align=center>
 
  <TR>
          <TD>
            <P align=center><FONT size=2><FONT color=#000000 
            face="Arial, Helvetica, sans-serif"><B>Disclaimer:</B> Neither NIC nor CBSE is responsible for any inadvertent error that may have crept in the results being published on NET. The results published on net are for Immediate information to the examinees. These cannot be treated as original mark sheets. Original mark sheets have been issued by the Board separately. </FONT></FONT></P></TD></TR>
  
  </table>
  <table width="100%" align=center>
  <tr bgcolor="#c2dbf8" align="middle" valign="baseline"> 
    <td height="23"> 
      <div align="center"> <font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><b> Designed, 
        Developed and Hosted by National Informatics Centre </b></font></div>
    </td>
  </tr>
</table>
</body>
</html>
